.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 37px;
    padding: 34px;
    border: 2px solid black;
}

#but {
    border: 2px solid black;
    margin: 10px 13px;
    padding: 10px 14px;
    border-radius: 20px;
    /* display: flex; */
}

.button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 47px 27px;
    padding: 13px 13px;
    border: 2px solid black;
    width: 66%;
}

h1 {
    font-size: 100px;
}